SampleDomains/BLEU/v5/BLEU_parts_v5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:arcos="https://github.com/ARCOS-System/ARCOS/XSD"
           elementFormDefault="qualified"
           arcos:version="5">

  <xs:element name="Inventory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Bolt" type="BoltType" maxOccurs="unbounded"/>
        <xs:element name="Nut" type="NutType" maxOccurs="unbounded"/>
        <xs:element name="Washer" type="WasherType" maxOccurs="unbounded"/>
        <xs:element name="Bracket" type="BracketType" maxOccurs="unbounded"/>
        <xs:element name="PackagedKit" type="PackagedKitType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="LocationType">
    <xs:attribute name="warehouse" type="xs:string"/>
    <xs:attribute name="section" type="xs:string"/>
    <xs:attribute name="shelf" type="xs:string"/>
    <xs:attribute name="bin" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="BaseItemType">
    <xs:sequence>
      <xs:element name="origin" type="CountryRefType"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Description" type="xs:string" minOccurs="0"/>
      <xs:element name="Location" type="LocationType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="code" type="xs:string" use="required"/>
    <xs:attribute name="eco_cert" type="xs:string"/>
    <xs:attribute name="replacement" type="xs:boolean" default="false"/>
  </xs:complexType>

  <xs:complexType name="BoltType">
    <xs:complexContent>
      <xs:extension base="BaseItemType">
        <xs:sequence>
          <xs:element name="Length" type="xs:float"/>
          <xs:element name="Diameter" type="xs:float"/>
          <xs:element name="ThreadType" type="xs:string"/>
          <xs:element name="Material" type="xs:string"/>
          <xs:element name="HeadType" type="xs:string" minOccurs="0"/>
          <xs:element name="DriveType" type="xs:string" minOccurs="0"/>
          <xs:element name="Finish" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="NutType">
    <xs:complexContent>
      <xs:extension base="BaseItemType">
        <xs:sequence>
          <xs:element name="Diameter" type="xs:float"/>
          <xs:element name="ThreadType" type="xs:string"/>
          <xs:element name="Height" type="xs:float"/>
          <xs:element name="Shape" type="xs:string"/>
          <xs:element name="Material" type="xs:string"/>
          <xs:element name="Finish" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WasherType">
    <xs:complexContent>
      <xs:extension base="BaseItemType">
        <xs:sequence>
          <xs:element name="InnerDiameter" type="xs:float"/>
          <xs:element name="OuterDiameter" type="xs:float"/>
          <xs:element name="Thickness" type="xs:float"/>
          <xs:element name="Material" type="xs:string"/>
          <xs:element name="Hardness" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BracketType">
    <xs:complexContent>
      <xs:extension base="BaseItemType">
        <xs:sequence>
          <xs:element name="Type" type="xs:string"/>
          <xs:element name="Width" type="xs:float"/>
          <xs:element name="Height" type="xs:float"/>
          <xs:element name="Thickness" type="xs:float"/>
          <xs:element name="HolePattern" type="xs:string"/>
          <xs:element name="Material" type="xs:string"/>
          <xs:element name="Finish" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PackagedKitType">
    <xs:sequence>
	  <xs:element name="AssemblyOrigin" type="CountryRefType"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Description" type="xs:string" minOccurs="0"/>
      <xs:element name="Components">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Component" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="ref" type="xs:IDREF" use="required"/>
                <xs:attribute name="quantity" type="xs:int" default="1"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PackagingType" type="xs:string"/>
      <xs:element name="Dimensions">
        <xs:complexType>
          <xs:attribute name="length" type="xs:float"/>
          <xs:attribute name="width" type="xs:float"/>
          <xs:attribute name="height" type="xs:float"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Weight" type="xs:float"/>
      <xs:element name="Location" type="LocationType"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="required"/>
    <xs:attribute name="code" type="xs:string" use="required"/>
  </xs:complexType>
  
	<xs:complexType name="CountryRefType">
	  <xs:sequence>
		<xs:element name="code" type="xs:string"/>
		<xs:element name="country" type="xs:string"/>
		<xs:element name="province" type="xs:string" minOccurs="0"/>
	  </xs:sequence>
	</xs:complexType>


</xs:schema>
