XSD/Common/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
           xmlns="https://github.com/ARCOS-System/ARCOS/XSD/Common"
		   elementFormDefault="qualified"
		   attributeFormDefault="unqualified"
		   version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Provides common reusable types across ARCOS schemas. Currently includes
		the shared SHA-256 hash type used for checksums.
	  </xs:documentation>
	</xs:annotation>

	<!-- Shared SHA-256 string type -->
	<xs:simpleType name="SHA256Type">
  	  <xs:restriction base="xs:string">
	    <xs:pattern value="[a-f0-9]{64}"/>
	  </xs:restriction>
	</xs:simpleType>

	<!-- How the artifact bytes are encoded (extensible) -->
	<xs:simpleType name="EncodingEnum">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="base64"/>
		<xs:enumeration value="gzip+base64"/>
	  </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="XMLMediaTypeEnum">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="application/xml"/>
	  </xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="XSDMediaTypeEnum">
	  <xs:restriction base="xs:string">
		<xs:enumeration value="application/schema+xml"/>
	  </xs:restriction>
	</xs:simpleType>

   <xs:complexType name="InlineArtifactType">
	  <xs:sequence>
		<xs:element name="Content" type="xs:base64Binary"/>
		<xs:element name="Checksum" type="SHA256Type"/>
	  </xs:sequence>
	  <xs:attribute name="encoding" type="EncodingEnum" use="required"/>
	  <xs:attribute name="mediaType" type="XMLMediaTypeEnum" use="required"/> <!-- application/xml,  text/xml -->
	</xs:complexType>
	
	<xs:complexType name="RefArtifactType">
	  <xs:attribute name="href" type="xs:anyURI" use="required"/>
	  <xs:attribute name="version" type="xs:string" use="optional"/>
	  <xs:attribute name="sha256" type="SHA256Type" use="required"/>
	  <xs:attribute name="mediaType" type="XSDMediaTypeEnum" use="required"/> <!-- application/schema+xml,  text/schema+xml -->
	</xs:complexType>	
	
</xs:schema>
