3-Stable/v0.3.1/ARCOS_Project.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
           xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
		   xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.3.1">

	<xs:import 
		namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
        schemaLocation="Common.xsd"/>
		   
	<xs:annotation>
	  <xs:documentation>
		Defines the ARCOS project configuration, including project ID, purpose, domain vocabulary, 
		predefined rules, current rules, domain schema, and optional constraints. 
		Does not include agent selection or licensing, which are in ARCOS_Domain_Agents.xml.
		
		Scope note: This project file intentionally excludes agent selection and licensing; 
		those live in the separate ARCOS_Domain_Agents artifact and are transported independently 
		(e.g., in responses) as inline artifacts, not expanded in this schema.
		
		DomainReference embeds the domain vocabulary, predefined rules, and current project rules inline, 
		and references the domain schema externally.
	  </xs:documentation>
	</xs:annotation>

 <!-- ========================= Root element ========================= -->
  <xs:element name="ARCOSProject" type="ARCOSProjectType"/>

  <xs:complexType name="ARCOSProjectType">
    <xs:sequence>
      <xs:element name="ProjectID" type="xs:string"/>
      <xs:element name="Purpose"   type="xs:string"/>

      <!-- The four domain artifacts --> 
      <xs:element name="DomainReference" type="DomainReferenceType"/>

      <!-- Project-local constraints (optional) -->
      <xs:element name="Constraints" type="ConstraintsType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name"    type="xs:string" use="optional"/>
    <xs:attribute name="version" type="xs:string" use="optional"/>
  </xs:complexType>

  <!-- =================== Domain reference ================================================= -->
  <!-- =================== DomainSchema is a ref the others are inline XML ================== -->
  <xs:complexType name="DomainReferenceType">
    <xs:sequence>
	  <xs:element name="DomainSchema" 						type="common:RefArtefactType"/>
      <xs:element name="DomainVocabularyAndRulesArtifact" 	type="common:InlineArtefactType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- ========================= Constraints ========================== -->
  <xs:complexType name="ConstraintsType">
    <xs:sequence>
      <xs:element name="Performance" type="PerformanceType" minOccurs="0"/>
      <xs:element name="Security"    type="SecurityType"    minOccurs="0"/>
      <xs:element name="Realtime"    type="xs:boolean"      minOccurs="0"/>
      <xs:element name="Embedded"    type="xs:boolean"      minOccurs="0"/>
      <xs:element name="Portable"    type="xs:boolean"      minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PerformanceType">
    <xs:sequence>
      <xs:element name="Level" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SecurityType">
    <xs:sequence>
      <xs:element name="Encryption" type="xs:string" minOccurs="0"/>
      <xs:element name="Policy"     type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
	
</xs:schema>














