3-Stable/v0.3.1/ARCOS_Project.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
           xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
		   xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.3.1">

	<xs:import 
		namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
        schemaLocation="Common.xsd"/>
		   
	<xs:annotation>
	  <xs:documentation>
		Defines the ARCOS project configuration, including purpose, domain reference,
		agents (Speculus, Producer, Validator, Post-Processor, FilterInput),
		licensing information, and execution constraints.
	  </xs:documentation>
	</xs:annotation>

	<xs:element name="ARCOSProject">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProjectID" type="xs:string" minOccurs="1"/>
				<xs:element name="Purpose" type="PurposeType" minOccurs="1"/>
				<xs:element name="DomainVocabularyAndRules" type="DomainReferenceType" minOccurs="1"/>
				<xs:element name="Constraints" type="ConstraintsType" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
  
	<xs:simpleType name="PurposeType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
  
	<xs:complexType name="DomainReferenceType">
	  <xs:sequence>
		<xs:element name="DomainVocabulary"      type="common:InlineArtifactType"/>
		<xs:element name="DomainPredefinedRules" type="common:InlineArtifactType"/>
		<xs:element name="CurrentProjectRules"   type="common:InlineArtifactType"/>
		<xs:element name="DomainSchema"          type="common:InlineArtifactType"/>
	  </xs:sequence>    
	</xs:complexType>
    
	<xs:complexType name="ConstraintsType">
		<xs:sequence>
			<xs:element name="Performance" type="PerformanceType" minOccurs="0"/>
			<xs:element name="Security" type="SecurityType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="realtime" type="xs:boolean"/>
		<xs:attribute name="embedded" type="xs:boolean"/>
		<xs:attribute name="portable" type="xs:boolean"/>
	</xs:complexType>
  
	<xs:complexType name="PerformanceType">
		<xs:attribute name="level" type="xs:string"/>
	</xs:complexType>
  
	<xs:complexType name="SecurityType">
		<xs:attribute name="encryption" type="xs:string"/>
		<xs:attribute name="policy" type="xs:string"/>
	</xs:complexType>
	
</xs:schema>














