3-Stable/v0.3.1/ARCOS_Speculus_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
           xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
           xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Root element for responses returned by the ARCOS Speculus agent to Maestro.
		On success, includes the validated ARCOSProject and ARCOSDomainAgents
		artifacts; on cancellation, includes the project ID, reason, and timestamp.
		
		Returns producer-validated artifacts as embedded XML documents. In a Success response, 
		both ARCOSProject and ARCOSDomainAgents are delivered as common:InlineArtifactType, 
		i.e., serialized XML payloads whose structure is defined by their own schemas 
		(e.g., ARCOS_Project.xsd, ARCOS_Domain_Agents.xsd). This response schema does not expand 
		or redefine those artifacts; consumers should extract and validate each artifact against 
		its native XSD as needed.
	  </xs:documentation>
	</xs:annotation>

	<xs:import 
		namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
        schemaLocation="Common.xsd"/>

  <xs:element name="ARCOSSpeculusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element name="Success" type="SuccessType"/>
          <xs:element name="Cancelled" type="CancelledType"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="SuccessType">
	<!-- 
		ARCOSProject: Inline XML artifact (see ARCOS_Project.xsd).
		ARCOSDomainAgents: Inline XML artifact (see ARCOS_Domain_Agents.xsd).
		Timestamp: Processing completion time (local system xs:dateTime). 
	-->
    <xs:sequence>
      <xs:element name="ARCOSProject" type="common:InlineArtefactType"/>
      <xs:element name="ARCOSDomainAgents" type="common:InlineArtefactType"/>
      <xs:element name="Timestamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CancelledType">
    <xs:sequence>
      <xs:element name="ProjectID" type="xs:string"/>
      <xs:element name="Reason" type="xs:string" minOccurs="0"/>
      <xs:element name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
