3-Stable/v0.3.1/artefact_manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2024 rel. 2 sp1 (x64) (https://www.altova.com) by Michel Trahan (Private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="https://github.com/ARCOS-System/ARCOS/XSD" 
	targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="0.3.1">
	
	<xs:annotation>
		<xs:documentation>
		Defines an artifact manifest describing files produced by a build or process.
		Tracks relative file paths, optional project-level manifest, and history of
		events for traceability.
	  </xs:documentation>
	</xs:annotation>
	<!-- Simple "relative-ish" path for ZIP entries: no leading "/" and no whitespace -->
	<xs:simpleType name="RelPath">
		<xs:restriction base="xs:string">
			<xs:pattern value="[^/\s][^\s]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Event block used by root and per-file history -->
	<xs:complexType name="HistoryType">
		<xs:sequence>
			<xs:element name="Event" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="ts" type="xs:dateTime" use="required"/>
					<xs:attribute name="action" type="xs:string" use="required"/>
					<xs:attribute name="by" type="xs:string" use="optional"/>
					<xs:attribute name="note" type="xs:string" use="optional"/>
					<xs:anyAttribute processContents="lax"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ArtifactManifest">
		<xs:complexType>
			<xs:sequence>
				<!-- Optional pointer to the project “root manifest” (e.g., Cargo.toml or something else) -->
				<xs:element name="RootManifest" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:attribute name="path" type="RelPath" use="required"/>
					</xs:complexType>
				</xs:element>
				<!-- Files listed relative to the same root -->
				<xs:element name="Files" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="File" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<!-- Per-file history (optional) -->
										<xs:element name="History" type="HistoryType" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="path" type="RelPath" use="required"/>
									<xs:anyAttribute processContents="lax"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!-- Manifest-level history (optional) -->
				<xs:element name="History" type="HistoryType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="projectId" type="xs:string" use="optional"/>
			<xs:attribute name="created" type="xs:dateTime" use="optional"/>
			<xs:attribute name="producer" type="xs:string" use="optional"/>
			<xs:attribute name="producerVersion" type="xs:string" use="optional"/>
			<xs:anyAttribute processContents="lax"/>
			<!-- Snapshot attributes -->
		</xs:complexType>
		<!-- Ensure file paths are unique -->
		<xs:unique name="UniqueFilePaths">
			<xs:selector xpath="Files/File"/>
			<xs:field xpath="@path"/>
		</xs:unique>
	</xs:element>
</xs:schema>