3-Stable/v0.3.1/Maestro_User_Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
           xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
           xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Root element for responses sent from Maestro back to the User.
		On success, contains the generated project ZIP output and metadata;
		on cancellation, reports the project ID, reason, and timestamp.
	  </xs:documentation>
	</xs:annotation>

	<xs:import 
		namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
        schemaLocation="Common.xsd"/>

  <xs:element name="MaestroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element name="Success" type="SuccessType"/>
          <xs:element name="Cancelled" type="CancelledType"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SuccessType">
    <xs:sequence>
      <xs:element name="ProjectID" type="xs:string"/>
      <xs:element name="ARCOSProject" type="common:InlineArtefactType"/>
      <xs:element name="ZipOutput" type="common:BinaryArtefactType"/>
      <xs:element name="Timestamp" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CancelledType">
    <xs:sequence>
      <xs:element name="ProjectID" type="xs:string"/>
      <xs:element name="Reason" type="xs:string" minOccurs="0"/>
      <xs:element name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
