3-Stable/v0.3.1/Maestro_ARCOS_Speculus_Messaging.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="https://github.com/ARCOS-System/ARCOS/XSD" 
	xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common" 
	targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Root element for messages sent from Maestro to the ARCOS Speculus agent.
		Carries new project creation requests or updated project definitions.
		
		EditProject carries the entire ARCOSProject as an inline artifact 
		(common:InlineArtifactType), preserving the project file exactly as authored; 
		this schema does not expand project internals.
	  </xs:documentation>
	</xs:annotation>
	
	<xs:import namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common" schemaLocation="Common.xsd"/>
  
  <!-- Root message -->
  <xs:element name="ARCOSSpeculusMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element name="NewProject" type="NewProjectType"/>
          <xs:element name="EditProject" type="EditProjectType"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

	<xs:complexType name="NewProjectType">
		<xs:sequence>
			<xs:element name="ProjectID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EditProjectType">
		<xs:sequence>
			<xs:element name="ProjectID" type="xs:string"/>
			<xs:element name="ARCOSProject" type="common:InlineArtefactType"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>