3-Stable/v0.3.1/Maestro_Producer_Messaging.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
            elementFormDefault="qualified"
			attributeFormDefault="unqualified"
            version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Outlines requests Maestro sends to Producer agents, supporting initial
		production and retry production workflows, with associated rules,
		specifications, and validation/post-processor feedback.
		
		InitialProduction and RetryProduction both carry the full ARCOSProject as 
		common:InlineArtifactType (schema not expanded here).

		RetryProduction additionally includes the previous ZipOutput (binary) and 
		exactly one feedback report (ValidationReport or PostProcessorReport) as inline XML.

		A trailing Checksum (SHA-256) covers the entire request.
	  </xs:documentation>
	</xs:annotation>

	<xs:import 
		namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
        schemaLocation="Common.xsd"/>

  <xs:element name="ProducerRequest">
    <xs:complexType>
      <xs:sequence>
		<xs:choice>
		  <xs:element name="InitialProduction" type="InitialProductionType"/>
		  <xs:element name="RetryProduction" type="RetryProductionType"/>
        </xs:choice>
	    <xs:element name="Checksum" type="common:SHA256Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="InitialProductionType">
    <xs:sequence>
      <xs:element name="ProjectID" type="xs:string"/>
      <xs:element name="ARCOSProject" type="common:InlineArtefactType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="RetryProductionType">
    <xs:sequence>
	  <xs:element name="ProjectID" type="xs:string"/>
	  <xs:element name="ARCOSProject" type="common:InlineArtefactType"/>
	  <xs:element name="PreviousZipOutput" type="common:BinaryArtefactType"/>      
      <xs:choice>
        <xs:element name="ValidationReport" type="common:InlineArtefactType"/>
        <xs:element name="PostProcessorReport" type="common:InlineArtefactType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
