3-Stable/v0.3.1/Maestro_Post_Processor_Messaging.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
           xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
           xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           version="0.3.1">


	<xs:annotation>
	  <xs:documentation>
		Defines the Maestro request structure for Post-Processor agents,
		containing project identifier, producer output, and checksum.
	  </xs:documentation>
	</xs:annotation>

	<xs:import 
		namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
        schemaLocation="Common.xsd"/>

  <xs:element name="PostProcessorRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProjectID" type="xs:string"/>
        <xs:element name="ProducerOutput" type="xs:string"/>
        <xs:element name="Checksum" type="common:SHA256Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
