3-Stable/v0.3.1/Post_Processor_Response.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   	targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
            elementFormDefault="qualified"
			attributeFormDefault="unqualified"
            version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Response schema for Post-Processor agents. Represents either a success
		summary or a failure with report link, checksum, and optional metrics.
	  </xs:documentation>
	</xs:annotation>

	<xs:import 
		namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
        schemaLocation="Common.xsd"/>

	<xs:element name="PostProcessorResponse">
		<xs:complexType>
			<xs:sequence>
			<xs:choice>
				<xs:element name="Success" type="SuccessType"/>
				<xs:element name="Failure" type="FailureType"/>
			</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SuccessType">
		<xs:sequence>
			<xs:element name="ProjectID" type="xs:string"/>
			<xs:element name="Summary" type="SummaryType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FailureType">
		<xs:sequence>
			<xs:element name="ProjectID" type="xs:string"/>
			<xs:element name="Report" type="common:InlineArtifactType"/>
			<xs:element name="Summary" type="SummaryType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
  
	<xs:complexType name="SummaryType">
		<xs:sequence>
			<!-- Overall outcome in plain terms -->
			<xs:element name="Status" type="xs:string" minOccurs="1"/> <!-- e.g., "success" | "failure" -->
			<!-- Domain-agnostic counters -->
			<xs:element name="IssueCount" type="xs:int" minOccurs="0"/>   <!-- errors, or hard failures -->
			<xs:element name="NoticeCount" type="xs:int" minOccurs="0"/>  <!-- warnings, infos -->
			<!-- Optional timings for dashboards -->
			<xs:element name="DurationMs" type="xs:long" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>  
</xs:schema>
