3-Stable/v0.3.1/Post_Processor_Report.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   	targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
            elementFormDefault="qualified"
			attributeFormDefault="unqualified"
            version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Structure of reports generated by a Post-Processor. Includes build
		status, diagnostics, artifacts produced, and optional raw output from
		build scripts.
	  </xs:documentation>
	</xs:annotation>

  <xs:element name="CompilerOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProjectID" type="xs:string"/>
        <xs:element name="Success" type="xs:boolean"/>

        <xs:element name="BuildFinished" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Success" type="xs:boolean"/>
              <xs:element name="Raw" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="BuildScriptExecuted" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Raw" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="Diagnostics" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Diagnostic" maxOccurs="unbounded" type="DiagnosticType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="Artifacts" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Artifact" maxOccurs="unbounded" type="ArtifactType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      
      <xs:attribute name="usingBuild" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="DiagnosticType">
    <xs:sequence>
      <xs:element name="Level" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element name="Code" type="xs:string" minOccurs="0"/>
      <xs:element name="File" type="xs:string" minOccurs="0"/>
      <xs:element name="Line" type="xs:integer" minOccurs="0"/>
      <xs:element name="Column" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ArtifactType">
    <xs:sequence>
      <xs:element name="TargetName" type="xs:string"/>
      <xs:element name="Path" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
