3-Stable/v0.3.1/Predefined_Domain_Rules.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
            elementFormDefault="qualified"
			attributeFormDefault="unqualified"
            version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Captures predefined, globally available domain rules. Each rule is fixed
		as predefined and can be referenced in project-specific specifications.
		
		Rule where target = Entity.Attribute
			type = RuleTypeEnum
			predefined = true
	  </xs:documentation>
	</xs:annotation>

	<xs:element name="PredefinedDomainRules">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Rules" type="RuleListType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="version" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="RuleListType">
		<xs:sequence>
			<xs:element name="Rule" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="id" type="xs:ID" use="required"/>
					<xs:attribute name="target" type="xs:string" use="required"/>
					<xs:attribute name="type" type="RuleTypeEnum" use="required"/>
					<xs:attribute name="predefined" use="required" fixed="true" type="xs:boolean"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="RuleTypeEnum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="required"/>
			<xs:enumeration value="enum"/>
			<xs:enumeration value="reference_exists"/>
			<xs:enumeration value="unique_global"/>
			<xs:enumeration value="has_components"/>
			<xs:enumeration value="match_pattern"/>
			<xs:enumeration value="range"/>
			<xs:enumeration value="equal_to"/>
			<xs:enumeration value="custom"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
