3-Stable/v0.3.1/Producer_Response.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
            elementFormDefault="qualified"
			attributeFormDefault="unqualified"
            version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Defines the response returned by Producer agents, which can include
		generated output (packaged with checksum) or clarification questions.
		
		On success, ZipOutput is delivered as common:BinaryArtifactType 
		(zip payload; see Common.xsd for checksum/filename details).

		On clarification, includes ProjectID, the current ARCOSProject (inline XML), 
		and one or more human-readable questions.

		A trailing Checksum (SHA-256) covers the entire payload for transport integrity.
	  </xs:documentation>
	</xs:annotation>

	<xs:import 
		namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
        schemaLocation="Common.xsd"/>

  <xs:element name="ProducerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProjectID" type="xs:string"/>
        <xs:choice>
  		  <xs:element name="ZipOutput" type="common:BinaryArtefactType"/>
          <xs:element name="Clarification" type="ClarificationType"/>
        </xs:choice>
		<xs:element name="Checksum" type="common:SHA256Type"/>
      </xs:sequence>
    </xs:complexType>    
  </xs:element>
  
  <xs:complexType name="ClarificationType">
    <xs:sequence>
      <xs:element name="ProjectID" type="xs:string"/>
      <xs:element name="ARCOSProject" type="common:InlineArtefactType"/>
      <xs:element name="Questions" minOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Question" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
