3-Stable/v0.3.1/User_Maestro_Messaging.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns="https://github.com/ARCOS-System/ARCOS/XSD" 
	xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common" 
	targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD" 
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	version="0.3.1">
	
	<xs:annotation>
	  <xs:documentation>
		Root element for messages sent from the User to the Maestro.
		Used to request creation of a new ARCOS project or to submit
		edits to an existing project configuration.
	  </xs:documentation>
	</xs:annotation>

	<xs:import namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common" schemaLocation="Common.xsd"/>
  
  <!-- Root message -->
  <xs:element name="UserMaestroMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element name="NewProject" type="NewProjectType"/>
          <xs:element name="EditProject" type="EditProjectType"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

	<xs:complexType name="NewProjectType">
		<xs:sequence>
			<xs:element name="ProjectID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="EditProjectType">
		<xs:sequence>
			<xs:element name="ProjectID" type="xs:string"/>
			<xs:element name="ARCOSProject" type="common:InlineArtefactType"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>