3-Stable/v0.3.1/Validator_Response.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns="https://github.com/ARCOS-System/ARCOS/XSD"
			xmlns:common="https://github.com/ARCOS-System/ARCOS/XSD/Common"
            elementFormDefault="qualified"
			attributeFormDefault="unqualified"
            version="0.3.1">

	<xs:annotation>
	  <xs:documentation>
		Defines the response format from Validator agents. Contains either a
		validation report reference or a request for clarification, always
		accompanied by a checksum.
		Questions should be actionable, human-readable prompts.
	  </xs:documentation>
	</xs:annotation>

	<xs:import 
		namespace="https://github.com/ARCOS-System/ARCOS/XSD/Common"
        schemaLocation="Common.xsd"/>

  <xs:element name="ValidatorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
			<xs:element name="ValidationReport" type="common:InlineArtefactType"/>
            <xs:element name="Clarification" type="ClarificationType"/>
        </xs:choice>
        <xs:element name="Checksum" type="common:SHA256Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="ClarificationType">
    <xs:sequence>
      <xs:element name="ProjectID" type="xs:string"/>
      <xs:element name="ARCOSProject" type="common:InlineArtefactType"/>
      <xs:element name="Questions">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Question" type="xs:string" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
